#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #000; */
    font-size: 14px;
     margin: 0;
    padding: 0;
}

.swiper{
  width: 100%;
  height: 100vh;
  /* margin-top: 20px; */
}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  /* background: #444; */
    margin-top: 100px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  
}

.swiper-pagination{
    display: flex;
    justify-content: end;
}

span.swiper-pagination-bullet{
    color: aliceblue;
}

